# ملفات البناء
/build/
/out/

# ملفات IDE
*.iml
.idea/
*.class

# ملفات NetBeans
nbproject/private/
*.log

# تجاهل ملفات NetBeans الخاصة بالمطور
nbproject/private/
nbproject/private/*.properties

# تجاهل جميع الملفات داخل nbproject
nbproject/*
# استثناء الملفات التي تريد الاحتفاظ بها (إن وجدت)
!nbproject/project.xml
/dist/

# تجاهل ملف Fxcode.java
src/fxcode/Fxcode.java
